.form {
  width: 30%;
}

.submit-btn {
  color: white;
  font-weight: bold;
  background: rgb(21, 148, 207);
  padding: 0.5em 2em;
  border-radius: 10px;
  border: 0px;
  text-align: center;
  margin-left: 7em;
}

.submit-btn:hover {
  color: rgb(21, 148, 207);
  background: white;
}
