.hero {
  width: 100%;
  height: 65vh;
  position: relative;
  border-radius: 10px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.hero-text {
  position: absolute;
  top: 15%;
  left: 5%;
}

.hero-text-heading {
  font-weight: bold;
}

.hero-text-para {
  font-weight: bold;
  font-size: 18px;
}
