.hero {
  width: 100%;
  height: 65vh;
  position: relative;
  border-radius: 10px;

}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.7;
}

.hero-text {
  position: absolute;
  top: 10%;
  left: 5%;
  height: auto;
  color: white;
  overflow : none;
}

.hero-text-heading {
  font-weight: bold;
}

.hero-text-para {
  font-weight: bold;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  .hero-text {
    height: auto;
  }

  .fields-of-interests {
    display : flex;
    justify-content : space-between;
    margin-right : 10px;

  }
}
